In [79]:
import warnings
warnings.filterwarnings('ignore')

In [80]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [81]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [82]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [83]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [84]:
df = pd.get_dummies(df, columns= ['home_ownership','verification_status','pymnt_plan',
                                  'pymnt_plan','debt_settlement_flag','initial_list_status', 'next_pymnt_d', 
                                  'application_type','home_ownership','verification_status','issue_d','hardship_flag'
                                 ])

# Split the Data into Training and Testing

In [85]:
# Create our features
X = df.copy()
X = X.drop('loan_status', axis= 1)

# Create our target
y = df["loan_status"]

In [88]:
list(X.dtypes)

[dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8')]

In [57]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.009285,0.526309,0.106747,0.357659,0.478007,0.373992,0.148001,0.371696,0.451066,0.177238
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.095914,0.499311,0.308793,0.479314,0.499520,0.483865,0.355104,0.483261,0.497603,0.381873
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [89]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [99]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [138]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
clf= BalancedRandomForestClassifier(n_estimators=100,random_state=1) 
clf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [139]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score
predictions = clf.predict(X_test)
balanced_accuracy_score(y_test, predictions)

0.7749814182774686

In [151]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[   68,    33],
       [ 2109, 14995]])

In [147]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.67      0.88      0.06      0.77      0.58       101
   low_risk       1.00      0.88      0.67      0.93      0.77      0.60     17104

avg / total       0.99      0.88      0.67      0.93      0.77      0.60     17205

In [154]:
# List the features sorted in descending order by feature importance
sorted(zip(X.columns, clf.feature_importances_))

[('acc_now_delinq', 0.0),
 ('acc_open_past_24mths', 0.008090968872584226),
 ('all_util', 0.011817014179066922),
 ('annual_inc', 0.015730215107720207),
 ('application_type_Individual', 0.002444250965616505),
 ('application_type_Joint App', 0.0012385790445220484),
 ('avg_cur_bal', 0.016310770933424597),
 ('bc_open_to_buy', 0.01318558715184227),
 ('bc_util', 0.01195388665287793),
 ('chargeoff_within_12_mths', 0.0),
 ('collection_recovery_fee', 0.0),
 ('collections_12_mths_ex_med', 0.00012687434941714275),
 ('debt_settlement_flag_N', 0.0),
 ('delinq_2yrs', 0.0030332275897483017),
 ('delinq_amnt', 0.0),
 ('dti', 0.018195286245529237),
 ('hardship_flag_N', 0.0),
 ('home_ownership_ANY', 0.00029923489688120846),
 ('home_ownership_ANY', 0.0003200338446948476),
 ('home_ownership_MORTGAGE', 0.0020249044058231877),
 ('home_ownership_MORTGAGE', 0.002187512342032076),
 ('home_ownership_OWN', 0.0016097672762042856),
 ('home_ownership_OWN', 0.0018290067787072358),
 ('home_ownership_RENT', 0.0013525026360523432),
 ('home_ownership_RENT', 0.001737883258913891),
 ('il_util', 0.010853007370887712),
 ('initial_list_status_f', 0.0015972148414278896),
 ('initial_list_status_w', 0.0014314892116835884),
 ('inq_fi', 0.007580803587959794),
 ('inq_last_12m', 0.009393747375421214),
 ('inq_last_6mths', 0.0033890377672773746),
 ('installment', 0.02134207065605245),
 ('int_rate', 0.03169064142401515),
 ('issue_d_Feb-2019', 0.0036943539399446217),
 ('issue_d_Jan-2019', 0.022133228769310207),
 ('issue_d_Mar-2019', 0.013858872194407318),
 ('last_pymnt_amnt', 0.05431711825055657),
 ('loan_amnt', 0.011577339134021437),
 ('max_bal_bc', 0.015361975488072811),
 ('mo_sin_old_il_acct', 0.012552751934419105),
 ('mo_sin_old_rev_tl_op', 0.016128884375628334),
 ('mo_sin_rcnt_rev_tl_op', 0.011635989712392603),
 ('mo_sin_rcnt_tl', 0.008922619068870147),
 ('mort_acc', 0.006699695419292766),
 ('mths_since_rcnt_il', 0.013426291813116609),
 ('mths_since_recent_bc', 0.012390486064454554),
 ('mths_since_recent_inq', 0.016482281385472537),
 ('next_pymnt_d_Apr-2019', 0.0049013195410933935),
 ('next_pymnt_d_May-2019', 0.0032639667142349543),
 ('num_accts_ever_120_pd', 0.0033350294851021405),
 ('num_actv_bc_tl', 0.007498104099133019),
 ('num_actv_rev_tl', 0.007899173027872894),
 ('num_bc_sats', 0.007062802898102659),
 ('num_bc_tl', 0.008521536358505315),
 ('num_il_tl', 0.01095559588666939),
 ('num_op_rev_tl', 0.00794615915830707),
 ('num_rev_accts', 0.012186105998038281),
 ('num_rev_tl_bal_gt_0', 0.007352518127168533),
 ('num_sats', 0.008659181799632156),
 ('num_tl_120dpd_2m', 0.0),
 ('num_tl_30dpd', 0.0),
 ('num_tl_90g_dpd_24m', 0.0014356457439375228),
 ('num_tl_op_past_12m', 0.008291111820834406),
 ('open_acc', 0.008542184814289745),
 ('open_acc_6m', 0.005617818992381126),
 ('open_act_il', 0.0058643718955550895),
 ('open_il_12m', 0.00540941953069474),
 ('open_il_24m', 0.005747575283758172),
 ('open_rv_12m', 0.005253882860629953),
 ('open_rv_24m', 0.005630675059491104),
 ('out_prncp', 0.016406393194960334),
 ('out_prncp_inv', 0.014864984736344029),
 ('pct_tl_nvr_dlq', 0.009553570090554167),
 ('percent_bc_gt_75', 0.005882905436232941),
 ('policy_code', 0.0),
 ('pub_rec', 0.0010512277772455035),
 ('pub_rec_bankruptcies', 0.0012372040091310056),
 ('pymnt_plan_n', 0.0),
 ('pymnt_plan_n', 0.0),
 ('recoveries', 0.0),
 ('revol_bal', 0.013853314018274169),
 ('tax_liens', 0.0),
 ('tot_coll_amt', 0.003548464363359495),
 ('tot_cur_bal', 0.012449237323181808),
 ('tot_hi_cred_lim', 0.013055576913368136),
 ('total_acc', 0.012462999571167767),
 ('total_bal_ex_mort', 0.01401903974085635),
 ('total_bal_il', 0.013208990315531747),
 ('total_bc_limit', 0.015366491274756304),
 ('total_cu_tl', 0.008006633586960264),
 ('total_il_high_credit_limit', 0.012775516643106968),
 ('total_pymnt', 0.059426538261399084),
 ('total_pymnt_inv', 0.05718390702062475),
 ('total_rec_int', 0.051756317546261595),
 ('total_rec_late_fee', 0.005600288455011688),
 ('total_rec_prncp', 0.0757977235970984),
 ('total_rev_hi_lim', 0.011643407950107203),
 ('verification_status_Not Verified', 0.0010330029666812998),
 ('verification_status_Not Verified', 0.0019745471732653757),
 ('verification_status_Source Verified', 0.0010438508314164967),
 ('verification_status_Source Verified', 0.0011936718946835125),
 ('verification_status_Verified', 0.0019550535182200654),
 ('verification_status_Verified', 0.002327556378424788)]

### Easy Ensemble AdaBoost Classifier

In [156]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ee= EasyEnsembleClassifier(n_estimators=100,random_state=1) 
ee.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [157]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score
predictions = ee.predict(X_test)
balanced_accuracy_score(y_test, predictions)

0.9322739628967573

In [158]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[   93,     8],
       [  962, 16142]])

In [159]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205